<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue d'un tournois</title>
</head>
<body>

    <h1 th:text="${tournois.nom}"></h1>
    <p>Nombre de participant:</p>
    <div th:if="${tournois.nombreParticipant != null}">
        <p th:text="${tournois.nombreParticipant}"></p>
    </div>
    <div th:if="${tournois.nombreParticipant == null}">
        <p> Aucun participant </p>
    </div>
    <p>Nombre d'équipe:</p>
    <div th:if="${tournois.nombreEquipes != null}">
        <p th:text="${tournois.nombreEquipes}"></p>
    </div>
    <div th:if="${tournois.nombreEquipes == null}">
        <p> Aucune équipe </p>
    </div>
    <p>format des match:</p>
    <div th:if="${tournois.formatMatch != null}">
        <p th:text="${tournois.formatMatch}"></p>
    </div>
    <div th:if="${tournois.formatMatch == null}">
        <p> Aucun format selectionnée </p>
    </div>
    <p>Prix de participation:</p>
    <div th:if="${tournois.prix != null}">
    <p th:text="${tournois.prix}"></p>
    </div>
    <div th:if="${tournois.prix == null}">
        <p> Aucun prix attirbué </p>
    </div>



<!--<p th:text="${tournois.nombreParticipant}"></p>-->
<!--<p th:text="${tournois.nombreParticipant}"></p>-->


</body>
</html>